/* skills */

.skill-section{
    position: relative;
}

.skills-container{
    width: 95%;
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
    color: #fff;
}

.skill-card{
    position: relative;
    display: block;
}

.icon-wrapper{
    box-shadow: 5px 5px 15px 0px #73ECAD;
    border-radius: 50%;
    height: 6em;
    width: 6em;
    margin: auto;
    background-color: black;
}

.skill-card i{
    display: block;
    margin: 0;
    font-size: 4em;
    text-align: center;
    line-height: 1.5em;
}

.skill-name{
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-top: .5em;
    color: #fff;
}

@media all and (max-width: 768px) {
    .skills-container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
    .skill-name{
        font-size: 1em;
        margin-bottom: 0;
    }
    .skill-card i{
        font-size: 2.5em;
        line-height: 1.65em;
    }
    .icon-wrapper{
        height: 4.25em;
        width: 4.25em;
        margin: auto;
    }
}
@media all and (max-width: 991px) {
    .skills-container{
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1.25em;
    }
}